@import "variables";


nav{
  background-color: @yellow;
  font-family: @primary-font, sans-serif;
  font-weight: 500;
  ul {
    list-style: none;
    padding: 3% 3%;
    li {
      color: black;
      display: inline;
      padding: 0 3%;
      span {
        color: @red;
        text-transform: @caps;
      }
    }
  }
}

section #banner {
  .background();
}
