@red: #EE252F;
@yellow: #F8DF1F;
@caps: uppercase;
@primary-font: 'Roboto';

.background {
  background-color: black;
  background-image: url("../img/banner-bg.png");
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 33%;
}
